{cover_enabled, true}.
{deps, [
	{cowboy, "0\.6\.0",
		{git, "git://github.com/extend/cowboy.git", "0.6.0"}},
	{bullet, "0\.2\.0",
		{git, "git://github.com/extend/bullet.git", "0.2.0"}},
	{sheriff, "0\.4\.0",
		{git, "git://github.com/extend/sheriff.git", "0.4.0"}},
	{erlydtl, ".*",
		{git, "https://github.com/evanmiller/erlydtl.git", "master"}},
	{jsx, "1\.3",
		{git, "git://github.com/talentdeficit/jsx.git", "master"}},
	{gproc, "0\.2\.12",
		{git, "git://github.com/esl/gproc.git", "master"}},
	{lager, "1\.0\.0",
		{git, "https://github.com/basho/lager.git", "master"}}
]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{erl_opts, [
%%	bin_opt_info,
%%	warn_missing_spec,
	warnings_as_errors,
	warn_export_all,
	{parse_transform, lager_transform}
]}.
