{cover_enabled, true}.
{deps, [
	{lager, ".*",
		{git, "https://github.com/basho/lager.git", "master"}},
	{cowboy, ".*",
		{git, "git://github.com/extend/cowboy.git", "0.8.2"}},
%	{bullet, "0\.2\.0",
%		{git, "git://github.com/extend/bullet.git", "0.2.0"}},
%	{sheriff, "0\.4\.0",
%		{git, "git://github.com/extend/sheriff.git", "0.4.0"}},
	{erlydtl, ".*",
		{git, "https://github.com/evanmiller/erlydtl.git", "master"}},
	{jsx, ".*",
		{git, "git://github.com/talentdeficit/jsx.git", "master"}},
	{gproc, ".*",
		{git, "git://github.com/esl/gproc.git", "master"}},
	{riakc, ".*",
		{git, "https://github.com/basho/riak-erlang-client.git", "master"}},
	{dh_date, ".*",
		{git, "https://github.com/daleharvey/dh_date.git", "master"}},
	{mimetypes, ".*",
		{git, "git://github.com/spawngrid/mimetypes.git", "master"}}
]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{erl_opts, [
%%	bin_opt_info,
%%	warn_missing_spec,
	warnings_as_errors,
	warn_export_all,
	{parse_transform, lager_transform}
]}.
{post_hooks, [
	{'get-deps', "./priv/bin/deps.sh get"},
	%% @todo update
	{'delete-deps', "./priv/bin/deps.sh delete"}
]}.
